* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, label, legend,
p, input[type="submit"], a {
  color: white;
  font-size: 1.1em;
}

h2 {
  font-size: 1.3em;
  padding: .5em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

input,
select {
  border: 0;
  outline: 0;
  border-radius: .5em;
  padding: .2em;
}

a {
  display: table;
  padding: .5em;
  text-decoration: none;
}

label, input[type="submit"] {
  display: block;
  margin-bottom: 1em;
}

fieldset {
  border: 2px solid white;
  padding: 1em;
  position: relative;
}

legend {
  font-size: 2em;
}

input[type="submit"] {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: .5em;
  cursor: pointer;
  transition: all linear 0.2s;
  box-shadow: 0 0 0 1px transparent inset;
}

input[type="submit"]:hover {
  box-shadow: 0 0 0 1px #fff inset;
  background: linear-gradient(-141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.volver-menu {
  padding: .5em;
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  transition: all linear 0.2s;
  border-radius: 10px;
  box-shadow: 0 0 0 1px transparent inset;
}

.volver-menu:hover {
  box-shadow: 0 0 0 1px #fff inset;
  background: linear-gradient(-141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.popup {
  background-color: #ffffff;
  padding: .5em;
  display: none;
}

.wrapper {
  min-width: 800px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 1em;
  border-radius: .5em;
}

table {
  margin-bottom: 35px;
}

th {
  font-size: 1.3em;
}

th, td {
  padding: 1em;
  text-align: center;
  color: #fff;
}
